@import "tailwindcss";

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Black"),
  url('./assets/fonts/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-ExtraBold"),
  url('./assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Bold"),
  url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-SemiBold"),
  url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Medium"),
  url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Regular"),
  url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Light"),
  url('./assets/fonts/Poppins-Light.ttf') ;
  font-weight: 300;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-ExtraLight"),
  url('./assets/fonts/Poppins-ExtraLight.ttf');
  font-weight: 200;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Thin"),
  url('./assets/fonts/Poppins-Thin.ttf');
  font-weight: 100;
}

*:not(svg, path) {  
  font-family: 'Poppins';
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #000;
}

h1{font-size: 35px;}
h2{font-size: 30px;}
h3{font-size: 25px;}

@media only screen and (max-width: 1535px) {
  h1{font-size: 30px;}
  h2{font-size: 25px;}
  h3{font-size: 20px;}
}

@media only screen and (max-width: 767px) {
  h1{font-size: 25px;}
  h2{font-size: 20px;}
  h3{font-size: 18px;}
}

/* ---------- Paski menu ----------*/

.menu-strips::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(-100px - 40px);
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}

.menu-strips::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(-100px - 40px);
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}


@media only screen and (max-width: 1535px){
  .menu-strips::after,
  .menu-strips::before{
    width: 60px;
  }
  
  .menu-strips::after{
    right: calc(-60px - 20px);
  }
  
  .menu-strips::before{
    left: calc(-60px - 20px);
  }
}

@media only screen and (max-width: 1279px){
  .menu-strips::after,
  .menu-strips::before{
    width: 40px;
  }
  
  .menu-strips::after{
    right: calc(-40px - 20px);
  }
  
  .menu-strips::before{
    left: calc(-40px - 20px);
  }
}

/* ---------- Paski titleCard ---------- */
.title-card::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}

.title-card::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}

@media only screen and (max-width: 1023px){
  .title-card::after,
  .title-card::before{
    width: 40px;
  }
}

@media only screen and (max-width: 639px){
  .title-card::before{
    left: 15px;
    width: 20px;
  }
  .title-card::after{
    right: 15px;
    width: 20px;
  }
}


/* ---------- menu - hamburger ---------- */

.hamburger-menu.active > span:first-child{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}

.hamburger-menu.active > span:nth-child(2){
    display: none;
}

.hamburger-menu.active > span:last-child{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
}

/* ---------- menu - mobile ---------- */

.menu-mobile li{
  animation: showMenu 1s ease-in-out forwards;
  transform: translateX(-50px);
  opacity: 0;
}

@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

