@import "tailwindcss";

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Black"),
  url('./assets/fonts/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-ExtraBold"),
  url('./assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Bold"),
  url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-SemiBold"),
  url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Medium"),
  url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Regular"),
  url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Light"),
  url('./assets/fonts/Poppins-Light.ttf') ;
  font-weight: 300;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-ExtraLight"),
  url('./assets/fonts/Poppins-ExtraLight.ttf');
  font-weight: 200;
}

@font-face{
  font-family: "Poppins";
  src:local("Poppins-Thin"),
  url('./assets/fonts/Poppins-Thin.ttf');
  font-weight: 100;
}

*:not(svg, path) {  
  font-family: 'Poppins';
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #000;
}

h1{font-size: 35px;}
h2{font-size: 30px;}
h3{font-size: 25px;}

@media only screen and (max-width: 1535px) {
  h1{font-size: 30px;}
  h2{font-size: 25px;}
  h3{font-size: 20px;}
}

@media only screen and (max-width: 767px) {
  h1{font-size: 25px;}
  h2{font-size: 20px;}
  h3{font-size: 18px;}
}

/* ---------- Paski menu ----------*/

.menu-strips::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(-100px - 40px);
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}

.menu-strips::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(-100px - 40px);
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}


@media only screen and (max-width: 1535px){
  .menu-strips::after,
  .menu-strips::before{
    width: 60px;
  }
  
  .menu-strips::after{
    right: calc(-60px - 20px);
  }
  
  .menu-strips::before{
    left: calc(-60px - 20px);
  }
}

@media only screen and (max-width: 1279px){
  .menu-strips::after,
  .menu-strips::before{
    width: 40px;
  }
  
  .menu-strips::after{
    right: calc(-40px - 20px);
  }
  
  .menu-strips::before{
    left: calc(-40px - 20px);
  }
}

/* ---------- Paski titleCard ---------- */
.title-card::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}

.title-card::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  height: 2px;
  width: 100px;
  background-color: #CDA272;
}

@media only screen and (max-width: 1023px){
  .title-card::after,
  .title-card::before{
    width: 40px;
  }
}

@media only screen and (max-width: 639px){
  .title-card::before{
    left: 15px;
    width: 20px;
  }
  .title-card::after{
    right: 15px;
    width: 20px;
  }
}


/* ---------- menu - hamburger ---------- */

.hamburger-menu.active > span:first-child{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}

.hamburger-menu.active > span:nth-child(2){
    display: none;
}

.hamburger-menu.active > span:last-child{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
}

/* ---------- menu - mobile ---------- */

.menu-mobile li{
  animation: showMenu 1s ease-in-out forwards;
  transform: translateX(-50px);
  opacity: 0;
}

@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* ---------- loader ---------- */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#CDA272 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#CDA272);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* ---------- posty parafialny zespół charytatywny ---------- */
.charity .wp-block-columns{display: flex; justify-content: center; gap: 32px;}
.charity h4{font-size: 50px; font-weight: 600; color: #CDA272;}
.charity p{font-size: 18px; font-weight: 300;}
.charity .has-text-align-center{text-align: center;}
.charity .is-vertically-aligned-center{display: flex; align-items: center;}

.charity .wp-block-button{margin-top:64px;}
.charity .wp-element-button{
  background-color: #CDA272;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  padding-block: 12px;
  padding-inline: 30px;
  border-radius: 5px;
  transition-duration: 700ms;
}
.charity .wp-element-button:hover{background-color: #e7b67f;}

.charity .helpCharity > p:nth-of-type(even){margin-bottom: 8px;}
.charity .helpCharity > p:nth-of-type(odd){color: #7D7D7D;}

@media only screen and (max-width: 1023px){
  .charity .wp-block-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .charity .charityReverse{flex-direction: column-reverse;}

  .charity .wp-block-column{flex-basis: 0 !important;}
  .charity p{font-size: 16px;}
  .charity .wp-element-button{padding-inline: 15px;}
  .charity .wp-block-button{display: flex; justify-content: center;}
}

.image-shape{
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

/* ---------- dofinansowania ---------- */
.projects .wp-block-columns{
  display: flex;
  gap: 32px;
}

.projects ul{list-style: disc;}

.projects h3{font-weight: 600; text-align: center; padding-bottom: 16px;}

.projects li{
  font-size: 18px;
  font-weight: 500;
}

.projects li > a{transition-duration: 700ms;}
.projects li > a:hover{color: #7D7D7D;}

@media only screen and (max-width: 1023px){
  .projects .wp-block-columns{flex-direction: column;}
}

@media only screen and (max-width: 639px){
  .projects li{font-size: 16px;}
  .projects ul{padding-left: 16px;}
}

/* ---------- aktualności ---------- */
.no-images figure{display: none;}

/* ---------- style do list ---------- */
.news ol{list-style: decimal !important; padding-left: 24px;}

/* ---------- gallery albums ---------- */


.gallery-album:hover > img{
  transition-duration: 500ms;
  transform: scale(1.1);
  filter: brightness(0.7);
}